/*
Chris Goyette
hw 9
christopher_goyette@student.uml.edu
*/

/* format the scrabble board */
#board             { margin-left: auto; margin-right: auto; margin-bottom: 20px; text-align: center; }

#letterRack        { width: 620px; height: 144px; margin-left: auto; margin-right: auto; text-align: center; background-image: url("img/letterRack.png"); }
